.hero {
  &-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 992px) {
      font-size: 3rem;
    }
  }

  &-ranking {
    color: #fddd5b;
    margin: 1em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;

    & span {
      margin: 0.5rem 1rem 0.5rem 0;
      flex: 0 0 auto;
    }

    &__comments a {
      color: var(--second-color);

      &:hover {
        color: var(--second-color);
      }
    }

    &__level {
      padding: 0.5em 1em;
      border: 1px solid var(--second-color);
      text-transform: uppercase;
      border-radius: 0.5em;
      color: var(--text-color);
      font-weight: 500;
    }
  }

  &-description {
    margin: 1rem 0 1.5rem;
    color: var(--text-color);
    line-height: 1.5;
  }

  &-invite {
    margin-bottom: 2rem;

    & p {
      font-size: 0.875em;
      color: var(--text-color);
      opacity: 0.8;
      margin: 0;
    }

    & input {
      max-width: 300px;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      outline: none;
      border: 1px solid var(--border-color);
      color: var(--text-color);
      margin: 1rem 0;
      background-color: var(--bg-color);
      font-size: 1em;
      line-height: 1.5;

      &::placeholder {
        color: var(--text-color);
        opacity: 0.7;
      }

      &:focus {
        border-radius: 0.5rem;
        outline: none;
        border: 1px solid var(--second-color);
        -webkit-box-shadow: 0px 0px 5px 2px rgba(51, 177, 255, 1);
        -moz-box-shadow: 0px 0px 5px 2px rgba(51, 177, 255, 1);
        box-shadow: 0px 0px 5px 2px rgba(51, 177, 255, 1);
      }

      @media (min-width: 768px) {
        margin-right: 1em;
      }
    }

    & div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__btn {
      height: 42px;
      background-color: var(--accent-color);
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;
      line-height: 1.6;

      &:hover {
        text-decoration: none;
        opacity: 0.9;
      }
    }
  }

  &-terms {
    font-size: 0.875rem;
    opacity: 0.8;
    color: var(--text-color);

    & a {
      color: var(--second-color);
    }
  }

  &-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
    background-position: top;
    display: block;
    filter: brightness(0.2);

    @media (min-width: 1024px) {
      position: initial;
      min-height: 100vh;
      filter: none;
    }
  }

  &-teacher {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    text-align: end;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }

    & a {
      text-decoration: none;
      color: var(--light-color);
    }

    &__name,
    &__rol {
      font-weight: 700;
      margin: 0;
    }

    &__rol {
      font-weight: 500;
    }
  }
}

@media (min-width: 1024px) {
  .position {
    position: relative;
  }
}
