:root {
  // Cambia theme en text-color: #53575a
  --first-color: #001c59;
  --second-color: #33b1ff;
  --accent-color: #df284a;
  --dark-color: #282d31;
  --dark-color-alt: #141618;
  --light-color: #fafdff;
  --text-color: var(--light-color);
  --bg-color: var(--first-color);
  --border-color: #40587c;
}
